<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock News Alert</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">

</head>
<body>

    <h3>Please Enter your Phone no and the TICKER symbol of your required Stock:</h3>

  
  
  <form method="post" action="/action_page">
    <label for="phone_number">Phone Number:</label><br>
    <input type="phone_number" id="phone_number" name="phone_number" > <br>
    <label for="ticker">TICKER Symbol:</label><br>
    <input type="text" id="ticker" name="ticker" ><br><br>
    <input type="submit" value="Submit">
  </form>
  
  <div>
    <h2>Price difference {{price}}</h2>
  </div>

<footer class="container-fluid">
  <p>All Rights Reserved</p>
</footer>

</body>
</html>
